<div class="flex-1 min-w-[200px]">
        <h2 class="text-xl font-semibold mb-4">Customer Services</h2>
        <ul class="space-y-2">
            <li><a href="/contact" class="hover:text-blue-600">Contact Us</a></li>
            <li><a href="/track-order" class="hover:text-blue-600">Track Order</a></li>
            <li><a href="/warranty" class="hover:text-blue-600">Warranty Policy</a></li>
            <li><a href="/return-policy" class="hover:text-blue-600">Return Policy</a></li>
            <li><a href="/live-chat" class="hover:text-blue-600">Live Chat</a></li>
            <li><a href="/faq" class="hover:text-blue-600">FAQ</a></li>
            <li><a href="/report-abuse" class="hover:text-blue-600">Report Abuse</a></li>
        </ul>
    </div>

    <div class="flex-1 min-w-[200px]">
        <h2 class="text-xl font-semibold mb-4">Payments</h2>
        <p class="text-transparent bg-clip-text bg-gradient-to-l from-yellow-400 to-orange-700 font-bold text-lg">
            Cash on <br> Delivery
        </p>
        <img src="{% static 'webpage_images/footer/khalti.svg' %}" alt="Khalti Payment Method" class="w-24 h-12 mb-2" />
        <img src="{% static 'webpage_images/footer/esewa.svg' %}" alt="eSewa Payment Method" class="w-24 h-12" />
    </div>

    <div class="flex-1 min-w-[200px]">
        <h2 class="text-xl font-semibold mb-4">Nepal Origin</h2>
        <p>Nepal’s Origin is an online solution for farmers and local artisans selling directly - online and in person.</p>
        <p class="mt-2 flex items-center"><img src="{% static 'webpage_images/footer/location.svg' %}" class="w-4 mr-2">Pokhara, Matepani</p>

        <div class="mt-6">
            <h2 class="text-lg font-semibold mb-2">Follow Us</h2>
            <div class="flex space-x-3">
                <a href="https://x.com" target="_blank" rel="noopener"><img src="{% static 'webpage_images/footer/twitter.svg' %}" class="w-8 hover:scale-110 transition-transform"></a>
                <a href="https://facebook.com" target="_blank" rel="noopener"><img src="{% static 'webpage_images/footer/facebook.svg' %}" class="w-8 hover:scale-110 transition-transform"></a>
                <a href="https://instagram.com" target="_blank" rel="noopener"><img src="{% static 'webpage_images/footer/instagram.svg' %}" class="w-8 hover:scale-110 transition-transform"></a>
            </div>
        </div>
    </div>