<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eSewa Test Payment</title>
</head>
<body>
    <h2>eSewa Payment Test</h2>

    <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
        <input type="hidden" name="amount" value="100">
        <input type="hidden" name="tax_amount" value="0">
        <input type="hidden" name="total_amount" value="100">
        <input type="hidden" name="transaction_uuid" value="TEST-12345">
        <input type="hidden" name="product_code" value="EPAYTEST">
        <input type="hidden" name="product_service_charge" value="0">
        <input type="hidden" name="product_delivery_charge" value="0">
        <input type="hidden" name="success_url" value="https://developer.esewa.com.np/success">
        <input type="hidden" name="failure_url" value="https://developer.esewa.com.np/failure">
        <input type="hidden" name="signed_field_names" value="total_amount,transaction_uuid,product_code">
        <input type="hidden" name="signature" value="LnpzZ7ZkIhOjhy0R6X1yREr6rYaXf6Mn0eHR+8dJ+no=">

        <button type="submit">Pay with eSewa</button>
    </form>

</body>
</html>
